:root {
  --font-title-text: "Nunito", sans-serif;
  --font-italic: "Courgette", cursive;
  --background-primary: #3f415a;
  --background-body: #282a36;
  --background-btn: #6a6577;
  --color-primary-font: #e767b0;
  --color-secondary-font: rgb(247, 247, 247);
}

body {
  font-family: var(--font-title-text);
}

h1 {
  font-family: var(--font-title-text);
  font-weight: 800;
  line-height: 1.5;
  font-size: 90px;
  color: var(--color-primary-font);
}

h2,
h3 {
  font-size: 36px;
  color: var(--color-secondary-font);
}

p {
  padding: 30px 0px;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

.homepage {
  background-color: var(--background-body);
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading {
  background-color: var(--background-primary);
  padding: 160px 20px;
  text-align: center;
}

.headline {
  font-weight: 700;
  font-size: 23px;
}

.project-description {
  color: var(--color-secondary-font);
  margin: 180px 70px;
}

.project-description p {
  font-size: 18px;
  line-height: 30px;
}

.project-description h2 {
  font-weight: 800;
  font-size: 64px;
}

.footer .code-by p {
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  color: var(--background-body);
  text-align: center;
}

.footer .social-link {
  text-align: center;
  font-size: 25px;
}

.footer a {
  color: var(--color-primary-font);
}

.btn-branding {
  font-family: var(--font-italic);
  margin-top: 50px;
  padding: 20px 25px;
  background-color: var(--background-btn);
  color: var(--color-secondary-font);
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.btn-branding-outline {
  font-family: var(--font-italic);
  margin-top: 40px;
  padding: 20px 25px;
  /* background-color: var(--color-secondary-font); */
  color: var(--color-primary-font);
  border: 1px solid var(--color-primary-font);
  border-radius: 4px;
  font-size: 18px;
}

.btn:hover {
  color: var(--color-secondary-font);
}

.navbar {
  background-color: var(--color-secondary-font);
}

.navbar a {
  color: var(--background-body);
  transition: all 100ms ease-in-out;
}
.navbar-toggler,
.navbar a:hover {
  color: var(--color-primary-font);
}

.profile {
  border-radius: 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 50px !important;
}

.content h3 {
  font-weight: 700;
}

.content p {
  font-size: 20px;
  line-height: 1.5;
}

.content .project,
.container-fluid .project {
  border-radius: 20px;
  width: 700px;
  height: 600px;
}

.content-container {
  padding: 160px 70px;
  background-color: var(--background-body);
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-secondary-font);
}

.content-container p,
.form-label {
  font-size: 20px;
  color: var(--color-secondary-font);
}

.section-footer {
  background-color: var(--background-primary);
  color: var(--color-secondary-font);
  margin-top: 100px;
  padding: 90px 300px 50px 300px;
}

.section-footer h2 {
  font-weight: 800;
  font-size: 50px;
}

.linkedin-page {
  font-size: 18px;
}

.contact-link {
  border-radius: 20px;
  background-color: var(--background-primary);
  display: block;
  margin: 0 auto;
  padding: 30px 20px;
  width: 300px;
  height: 150px;
}

.contact-link a {
  color: var(--color-primary-font);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.contact-link a:hover {
  opacity: 70%;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2,
  h3 {
    font-size: 24px;
    line-height: 1.2;
  }

  .heading {
    padding: 100px 20px 60px 20px;
  }

  .btn-branding {
    margin-top: 25px;
    padding: 10px 15px;
  }

  .homepage {
    padding: 2px;
  }

  .headline {
    font-size: 12px;
    margin: 2px;
    padding: 30px 3px;
  }

  .container-fluid .row {
    margin: 5px 2px !important;
  }

  .project-description {
    margin: 20px 10px 5px 10px;
    text-align: center;
    width: fit-content;
    height: fit-content;
  }

  .project-description h2 {
    padding-top: 20px !important;
    margin: 5px 2px !important;
    font-size: 24px;
  }

  .project-description p {
    margin: 5px 5px !important;
    padding: 20px 5px !important;
    font-size: 16px;
  }
  .btn-branding-outline {
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
  .footer p {
    text-align: center;
    font-size: 10px;
    margin: 0px;
  }

  .content-container,
  .content,
  .section-footer {
    text-align: center;
    padding: 20px 5px 0px 0px;
  }

  .section-footer .btn-branding-outline {
    margin-top: -10px;
    margin-bottom: 30px;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: var(--color-primary-font);
  }

  .navbar a {
    color: var(--background-body);
  }

  .navbar a:hover {
    color: var(--color-primary-font);
  }
}
